.carousel {
    position: relative;
    
    
}
.slideImage{
    height: 520px;

}

.carouselItem {
    height: 520px;
    transform: none;
    float: left;
    width: 100%;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}

.carouselDots {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    
}

.carouselDots li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 15px;
    height: 15px;
    margin: 0 3px 12px 3px;
    background: 0 0;
    border: 1px solid #fff;
    transition: .5s;
    cursor: pointer;
    
}

.activeDots {
    width: 30px !important;
    background: #fff !important;
    
}

.carouselInner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slideImage {
    object-fit: cover;
    position: absolute;
}

.carouselCaption {
    position: absolute;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(61,70,77,.5);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carouselCaption h1 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #ffffff;
}

.carouselCaption p {
    padding-right: 15rem;
    padding-left: 15rem;
    margin-bottom: 3rem;
}

.carouselCaption button {
    cursor: pointer;
    font-size: 15px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
    border: 1px solid white;
    background-color: transparent;
}

.carouselCaption button:hover {
    color: black;
    background-color: #ffffff;
}